<?xml version="1.0"?>
    <config>
    <default>
        <carriers>
            <inxpress>
                    <active>carriers/inxpress/active</active>
                    <sallowspecific>0</sallowspecific>
					<model>inxpress/carrier_inxpress</model>
                    <name>InXpress</name>
                    <title>DHL Express</title>
                    <specificerrmsg>
                        This shipping method is currently unavailable.
                        If you would like to ship using this shipping
                        method, please contact us.
                    </specificerrmsg>
                    <handling_type>F</handling_type>
            </inxpress>
        </carriers>
    </default>
      <modules>
        <Cedcoss_Inxpress>
          <version>0.1.6</version>
        </Cedcoss_Inxpress>
      </modules>
      
      <frontend>
	    <routers>
	      <inxpress>
	        <use>standard</use>
	         <args>
	            <module>Cedcoss_Inxpress</module>
	            <frontName>inxpress</frontName>
	          </args>
	      </inxpress>
	    </routers>
  	 </frontend>
	 <admin>
		<!-- <routers>
			<inxpress>
				<use>admin</use>
				<args>
					<module>Cedcoss_Inxpress</module>
					<frontName>inxpress</frontName>
				</args>
			</inxpress>
		</routers> -->
		<routers>
			<adminhtml>
				<args>
					<modules>
						<inxpress after="Mage_Adminhtml">Cedcoss_Inxpress</inxpress>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	 <adminhtml>
  		<menu>
			
  			<catalog>
				
  				<children>
                                                                               <variants module="inxpress">

                                                                                                <title>Manage Variants</title>

                                                                                                <sort_order>0</sort_order>

                                                                                                <action>adminhtml/adminhtml_index/index</action>

                                                                                </variants>  
																				<dhl module="inxpress">

                                                                                                <title>Manage Dhl</title>

                                                                                                <sort_order>0</sort_order>

                                                                                                <action>adminhtml/adminhtml_dhl/index</action>

                                                                                </dhl>  																				
  					
  				</children>
  				
  			</catalog>
  		</menu>
  		<!-- Admin Control Limit -->
  		
  		 <layout>
  			<updates>
  				<inxpress>
  					<file>inxpress.xml</file>
  				</inxpress>
  			</updates>
  		</layout>
	</adminhtml>

      <global>
		<helpers>

			<inxpress>

				<class>Cedcoss_Inxpress_Helper</class>

			</inxpress>
		</helpers>
        <models>
          <inxpress>
            <class>Cedcoss_Inxpress_Model</class>
            <resourceModel>inxpress_mysql4</resourceModel>
          </inxpress>
          <inxpress_mysql4>
	        <class>Cedcoss_Inxpress_Model_Mysql4</class>	
			<entities>
   				<variant>
   					<table>inxpress_variant</table>
   				</variant>
				<dhl>
   					<table>inxpress_dhl</table>
   				</dhl>
   			</entities>
		  </inxpress_mysql4>
        </models>
        <resources>
          <inxpress_setup>
            <setup>
              <module>Cedcoss_Inxpress</module>
              <class>Cedcoss_Inxpress_Model_Mysql4_Setup</class>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
          </inxpress_setup>
        </resources>
		<blocks>

					<inxpress>

								<class>Cedcoss_Inxpress_Block</class>

					</inxpress>
					<adminhtml>  
						 <rewrite>  
								<catalog_product_edit_tab_attributes>Cedcoss_Inxpress_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>               
						</rewrite>
					</adminhtml>					<bundle>						<rewrite>  								<adminhtml_catalog_product_edit_tab_attributes>Cedcoss_Inxpress_Block_Adminhtml_Bundle_Catalog_Product_Edit_Tab_Attributes</adminhtml_catalog_product_edit_tab_attributes>     						</rewrite>					</bundle>
    			   
  				
         </blocks>
       </global>
    </config>